
<html>
<head>
  <title>Post Page</title>
</head>

<body>
  <div class="container" align="center">
    <form action="/cool_url" method="POST">
      This is outside the area<br><br>
      <textarea cols="40" rows="5" name="myname">
        Now we are inside the area - which is nice.
      </textarea>
      <br><br>
      And now we are outside the area again.
      <input type="text" name="user_input">
      <input type="submit" value="Submit!">
    </form>
  </div>
</body>
</html>