<div class="container">
  <h1>Welcome to Sinatra!</h1>
<!-- 
  <form action="/cool_url" method="POST">
    <input type="text" name="post[title]">
    <input type="text" name="post[price]"><br><br>
    <input type="submit" value="Submit!">

  </form> -->
  <!-- <br><br> -->
  <br>
  <form action="/cool_url" method="POST">
      <input type="text" name="user_input" size="30" value="Please enter your name here!" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
      <br><br>
      <input type="submit" value="Submit!">
  </form>

</div>
